.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint-sm{
        max-width: 540px;
    }

    @include breakpoint-md{
        max-width: 720px;
    }

    @include breakpoint-lg{
        max-width: 960px;
    }

    @include breakpoint-xl{
        max-width: 1140px;
    }

    @include breakpoint-xxl{
        max-width: 1520px;
    }
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: relative;
}