.text-white{
    color: $white !important;
}

.text-primary{
    color: $primary !important;
}

.text-secondary{
    color: $secondary !important;
}

.text-default{
    color: $grey !important;
}

.text-dark{
    color: $black !important;
}